<%- include('header'); %>

<h2>This is the about page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid dolor nam sunt architecto soluta expedita,
    delectus qui ab, modi vero ipsum explicabo pariatur eveniet obcaecati aliquam earum excepturi. Beatae!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid dolor nam sunt architecto soluta expedita,
    delectus qui ab, modi vero ipsum explicabo pariatur eveniet obcaecati aliquam earum excepturi. Beatae!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid dolor nam sunt architecto soluta expedita,
    delectus qui ab, modi vero ipsum explicabo pariatur eveniet obcaecati aliquam earum excepturi. Beatae!
</p>

<%- include('footer'); %>